body {
    background-color: #121212;
    color: #eee;
    font-family: sans-serif;
    text-align: center;
}

canvas {
    background-color: #333;
    border: 2px solid #eee;
}

#build-meter-container {
    width: 600px; /* Same as canvas width */
    height: 20px;
    border: 2px solid #eee;
    margin: 10px auto;
    background-color: #333;
}

#build-meter-progress {
    width: 0%; /* Starts empty */
    height: 100%;
    background-color: #4caf50; /* A nice green */
}